<section class="my-10">
  <h2 class="text-2xl font-semibold mb-1">About me</h2>
  <hr class="mb-4 border-zinc-600" />

  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400 test text-justify">
    I’m specializing in web design and development, although I have had the
    opportunity to work in different areas. I was able to start my work
    experience very early, starting with small projects in a manufacturing
    company, moving to a permanent position as a software developer where I
    could learn and exploit all my skills, working on international projects,
    and currently in a position focused frontend development.
  </p>
</section>
