---
import ExperienceCard from "./ExperienceCard.astro"
---
<h2 class="text-2xl font-semibold mb-2">Experience</h2>
<hr class="mb-6 border-zinc-600" />
<section class="my-10">
    <ExperienceCard
    enterprise="LeadVenture" 
    role="Front End Developer"
    time="03/19/2024 – Present"
    jobdescripcion="I have been involved in the migration of websites across various economic sectors, such as mechanical workshops, sales, and the marine industry. Throughout this process, I have enhanced my skills in SCSS, HTML, and JavaScript, as well as my understanding of web design principles and best practices. Additionally, I have worked with various CMS platforms, including DNN and Dealer Spike."
    />

    <ExperienceCard
    enterprise="Startup" 
    role="External Consulting"
    time="07/18/2023 – 12/01/2024"
    jobdescripcion="I had the opportunity to support large-scale applications built with React.js by creating new components, fixing bugs, and primarily resolving front-end issues related to styling and new views. Additionally, I provided support for PHP applications using a CMS. I also worked with SQL Server, creating and troubleshooting SQL queries."
    />

    <ExperienceCard
    enterprise="Robert Bosch" 
    role="Software Developer"
    time="12/05/2022 – 03/15/2024"
    jobdescripcion="Developed cross-functional applications using various technologies, including Angular, JavaScript, C#, ASP.NET, and the .NET Framework. I had the opportunity to support and develop internal systems deployed across multiple countries, such as Germany, Hungary, and the United States. I collaborated closely with teams from these regions to successfully bring these systems into production."
    additional = "Achievements | Hackathon project where we optimize an existing process using an internal platform using JavaScript and  an endpoint to consume information from the database."
    />
 
    <ExperienceCard
    enterprise="CommScope" 
    role="Operations Clerk "
    time="10/14/2020 – 11/23/2022"
    jobdescripcion="Managed, improved, and innovated operations and process assurance using Excel macros (VBA), Power BI for data visualizations, and web pages built with PHP."
    additional="Achievements | STAR AWARD for innovative employees, IT support. "
    />

</section>