---
import ExperienceCard from "./ExperienceCard.astro"
---
<h2 class="text-2xl font-semibold mb-2">Experience</h2>
<hr class="mb-6 border-zinc-600" />
<section class="my-10">
    <ExperienceCard
    enterprise="LeadVenture" 
    role="Front End Developer"
    time="03/19/2024 to Present"
    jobdescripcion="Migrating websites across various economic sectors, including mechanical workshops, sales, and the marineindustry. Improved skills in Sass, HTML, and JavaScript while refining web design principles and best practices. Worked with multiple CMS platforms, such as DNN and Dealer Spike."
    />

    <ExperienceCard
    enterprise="Startup" 
    role="External Consulting"
    time="07/18/2023 to 12/01/2024"
    jobdescripcion="Contributed to large-scale applications built with React.js, by developing new components,fixing bugs, and resolving front-end issues related to styling and new views. Provided support for PHPapplications using a CMS and optimized SQL Server queries."
    />

    <ExperienceCard
    enterprise="Robert Bosch" 
    role="Software Developer"
    time="12/05/2022 to 03/15/2024"
    jobdescripcion="Developed multi-platform applications using Angular, JavaScript, C#, ASP.NET, and .NET Framework. Supported and enhanced internal systems deployed in Germany, Hungary, and the United States. Collaborated with international teams to deploy these systems to production successfully."
    additional = "Achievements | Developed a hackathon project focused on optimizing an existing process by leveraging an internal platform. Utilized JavaScript to implement the solution and integrated an endpoint to efficiently retrieve and process data from the database."
    />
 
    <ExperienceCard
    enterprise="CommScope" 
    role="Operations Clerk "
    time="10/14/2020 to 11/23/2022"
    jobdescripcion="Managed, improved, and innovated operations and process assurance using Excel macros (VBA), Power BI for data visualizations, and web pages built with PHP."
    additional="Achievements | STAR AWARD for innovative employees, IT support. "
    />
</section>