<div class="flex justify-between items-center pt-4 border-t border-zinc-700">
  <p class="text-lg text-zinc-400 bg-gradient-to-b from-gray-50 to-zinc-500 bg-clip-text text-transparent">Luis Antonio Avila Mares
  </p>
  <span class="text-zinc-400 bg-gradient-to-b from-gray-50 to-zinc-500 bg-clip-text text-transparent">2025</span>
</div>