---
const { name, specialStyle, certLink } = Astro.props;
---
<div class="flex flex-col items-center justify-center">
  <div class:list={[
    "inline-flex flex-col items-center justify-center p-3 border rounded-md relative group",
    specialStyle ? "bg-amber-900 border-amber-700" : "bg-zinc-800 border-zinc-600",
  ]}>
    {certLink && (
      <a 
        href={certLink} 
        target="_blank"
        rel="noopener noreferrer"
        class="absolute -top-5 text-xs text-amber-500 opacity-0 group-hover:opacity-100 transition-opacity pb-16 tar"
      >
        Certification 
      </a>
    )}
    <slot />
  </div>
  <span class="text-zinc-400 text-sm mt-1 font-sans">{name}</span>
</div>