<div class="flex flex-col items-center justify-center mt-20 mb-16">
  <h1 class="text-4xl font-bold block bg-gradient-to-b from-gray-50 to-zinc-500 bg-clip-text text-transparent">Luis Antonio Avila Mares</h1>
  <p class="text-2xl text-zinc-400"><em>Frontend Developer</em></p>
</div>